name = "AsmMacro"
uuid = "f617cd02-e7fb-5dad-8d07-aa96542e7fbb"
authors = ["Yingbo Ma <mayingbo5@gmail.com>"]
version = "0.1.0"

[compat]
julia = "1"

[extras]
InteractiveUtils = "b77e0a4c-d291-57a0-90e8-8db25a27a240"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "InteractiveUtils"]
